html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: rgb(214, 214, 221);
  font-size: 5rem;
  opacity: 0.8;
  text-shadow: 5px 2px 2px rgb(0, 0, 0);
}
#app {
  background-color: rgb(245, 226, 226);
  width: 50rem;
  padding: 5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#button {
  padding: 1rem;
  width: 150px;
  margin: 1rem;
  background-color: rgb(198, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#button:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

#button2 {
  padding: 1rem;
  width: 150px;
  margin: 1rem;
  background-color: rgb(198, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#button3 {
  padding: 1rem;
  width: 150px;
  margin: 1rem;
  background-color: rgb(198, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#button2:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

#button3:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

#respuesta {
  padding: 1rem;
  width: 150px;
  margin: 1rem;
  background-color: rgb(198, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#respuesta2 {
  padding: 1rem;
  width: 150px;
  margin: 1rem;
  background-color: rgb(198, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#respuesta3 {
  padding: 1rem;
  width: 150px;
  margin: 1rem;
  background-color: rgb(198, 235, 235);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#respuesta:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

#respuesta2:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

#respuesta3:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

.contenedor {
  background-color: rgb(245, 226, 226);
  padding: 2rem;
  width: 50rem;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 5px 5px 5px #424143;
}

.bienvenida {
  color: rgb(227, 248, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(167, 164, 164);
}

#vamos {
  padding: 5px;
  width: 130px;
  margin: 1rem;
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#vamos:hover {
  background-image: radial-gradient(
    circle at 50% 16.37%,
    #ffeeff 0,
    #f5d4ff 25%,
    #cbb7f2 50%,
    #a49bc6 75%,
    #84809e 100%
  );
  cursor: pointer;
}

#final {
  padding: 5px;
  width: 130px;
  margin: 1rem;
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}

#final:hover {
  background-image: linear-gradient(
    180deg,
    #b33187 0,
    #a9298b 12.5%,
    #9c218e 25%,
    #8d1a92 37.5%,
    #7b1495 50%,
    #661298 62.5%,
    #4c159c 75%,
    #23199f 87.5%,
    #001ea2 100%
  );
  cursor: pointer;
}
#intentar {
  padding: 5px;
  width: 155px;
  margin: 1rem;
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 5px #a8a9a9;
}
#intentar:hover {
  background-image: radial-gradient(
    circle at -4.17% 4.55%,
    #009cff 0,
    #0096ff 5.56%,
    #008fff 11.11%,
    #0086ff 16.67%,
    #0076ff 22.22%,
    #6370ff 27.78%,
    #9762ff 33.33%,
    #bb51ff 38.89%,
    #d63cf1 44.44%,
    #ec1edc 50%,
    #fd00c6 55.56%,
    #ff00af 62.22%,
    #ff0098 66.67%,
    #ff0081 72.22%,
    #ff006a 77.78%,
    #ff0053 83.33%,
    #ff003c 88.89%,
    #ff1624 94.44%,
    #ff3600 100%
  );
}
